@model Treehuggers_WebApp01.ViewModel.treehuggersViewModel
@{
    Layout = "_TableLayout";
    ViewData["Title"] = "Treehugger's Data Tables";
}

<div class="text-center">
    <h2>Click To Select A Table</h2>
</div>